{% extends 'my_website/base.html' %}

{% block content %}
<!-- start to import -->
<div class="about_me">About Me</div>
    <div class="about_title"><h2> Who Am I? </h2></div>
    <div class="container-about">
        <div class="about-content">
        <p>Kumusta? I am <strong>Vincent Cura</strong>, a filipino programmer who is 
        into Web and Software Development using Python language. Since I was in High School,
        I am always fascinated on how magical things done in programming world. I am not that
        good on my college days but as time passes by, I feel like I belong in this industry.</p>
        <p>I'm extremely passionate in web development, design in all it's forms and software development to 
        help small businesses and artisans build and improve their online presence. I now offer my services 
        and experience of my own accord in the field of ​​creating digital projects.</p> 
        </div>
        <div class="about-img"><img src="static/img/about.jpg"></div>
    </div>
    <!-- end to import -->
</div>
<!-- end Contents -->

{% endblock %}
