{% extends 'my_website/base.html' %}
    
{% block content %}
    <div class="career-content">
        <ul id="career-title">
            <li><h3>Web developer</h3></li>
            <ul id="career-def">
                <li> Full Stack Web Developer (Freelancer)</li>
            </ul>
            <li><h3>Event Lecturer</h3></li>
            <ul id="career-def">
                <li> Robotics - D' Great Rovers Events Management</li>
            </ul>
            <li><h3>College Instructor</h3></li>
            <ul id="career-def">
                <li> Computer Science - ESTI(Marinduque and Oriental Mindoro)</li>
            </ul>
            <li><h3>Degree in Bachelor of Science in Computer Science</h3></li>
            <ul id="career-def">
                <li> Educational Systems Technological Institute in Marinduque, Philippines </li>
            </ul>
        </ul>
    </div>

</div>
<!-- end Contents -->


{% endblock %}
