{% extends 'my_website/base.html' %}
    
{% block content %}
    <div class="project-content">
        <ul id="project-title">
            <li><h3>Personal Website</h3></li>
            <ul id="project-def">
                <li> Dynamic Personal Website </li>
            </ul>
            <li><h3>E commerce Website</h3></li>
            <ul id="project-def">
                <li> </li>
            </ul>
            <li><h3>Music Player Software</h3></li>
            <ul id="project-def">
                <li> Tkinter Module</li>
            </ul>
        </ul>
    </div>
</div>
<!-- end Contents -->

{% endblock %}
