{% extends 'my_website/base.html' %}
    
{% block content %}
<div class="skills-content">
<ul id="skills-software">
    <li><h3>Python</h3></li>
    <ul id="skills-topic">
        <li>Control Flow Statements</li>
        <li>Great Understanding on Data Types</li>
        <li>Functional Programming</li>
        <li>Object-Oriented Programming</li>
        <li>Work with CSV Files</li>
    </ul><br/>
    <li><h3>Django Web Framework</h3></li>
    <ul id="skills-topic">
        <li>URL Mapping</li>
        <li>Template Inheritance</li>
        <li>Object Relational Model</li>
    </ul><br/>
    <li><h3>HTML</h3></li>
    <ul id="skills-topic">
        <li>Forms</li>
    </ul><br/>
    <li><h3>CSS</h3></li>
    <ul id="skills-topic">
        <li>Styles</li>
    </ul><br/>
</ul>
</div>    
</div>
<!-- end Contents -->

{% endblock %}